---

- name: LXD init
  block:
  - set_fact:
      master="{{ lookup('template', 'lxd-server.yml.j2') }}"

  # - debug:
  #     var: master

  - name: lxd init lxd-server.yml
    command: lxd init --preseed <
    args:
      stdin: "{{ master }}"
    when: not lxd_cluster or inventory_hostname == groups.all[0]

  - name: lxc info
    shell: lxc info
    register: lxc_info_src
    run_once: true

  - set_fact:
      lxc_info="{{ lxc_info_src.stdout | from_yaml }}"

- name: LXD cluster clients
  block:
    - debug:
        var: lxc_info.environment.certificate_fingerprint

    - set_fact:
        slaves="{{ lookup('template', 'lxd-client.yml.j2') }}"

    # - debug:
    #     var: slaves

    - name: lxd init lxd-client.yml
      command: lxd init --preseed <
      args:
        stdin: "{{ slaves }}"
      when: inventory_hostname != groups.all[0]

    ## FIXME! there seems to be a bug with core.https_address
    - name: lxd set core.https_address
      command: lxc config set core.https_address {{ ansible_default_ipv4.address }}:8443
  when: lxd_cluster
