{{ ansible_managed | comment }}

{% if lxd_dnsmasq_staticips is defined and lxd_dnsmasq_staticips != [] %}
## note: it's container hostname which is important, not container's name!
{% for item in lxd_dnsmasq_staticips %}
dhcp-host={{ item.h }},{{ item.ip}}
{% endfor %}
{% endif %}
